.course__button {
    padding-block: 10px;
    width: 50px;
    background-color: white;
    color: black;
    border: 1px var(--app-border-color) solid;
    border-radius: var(--app-border-radius);
}

.course__button.active {
    background-color: #05a95c;
    color: white;
}